form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

div {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.is-valid {
    border: 2px solid green;
}

.is-invalid {
    border: 2px solid #FF3E3E ;
}

.error-msg {
    color: #FF3E3E;
}